
    <section class="container-fluid" id="get-individual-etf" menu-item="Usage" top>

        <h2>Usage<i class = "zuri-icon code size-l align-middle right"></i></h2>

        <div class="row">

            <div class="col-md-6" itemscope itemtype="https://schema.org/Thing">
                <meta itemprop="name" content="VAT number validation API" />
                <link itemprop="url" href="https://vattly.com/"/>
                    <p>
                    <span itemprop="description">

                        There is only one endpoint to this VAT validation API, which takes the VAT number in the request, checks if that number is valid, and if it is valid, returns additional details about the company associated with that VAT number. </span>You can test it (unauthenticated) by calling the following url: 
                    </p>
                    <p>
                        <code class="inline">{{apiUrl}}/validate/<span class="accent-blue">VAT</span></code>
                    </p>

                    <h4 class = "marg-m">Parameters</h4>
                    <ul>
                        <li>
                            <code class="accent-bold">VAT</code> <code class="accent-gray">String</code> <code
                                class="accent-hard">Mandatory</code>
                            <p>
                                The VAT number to validate is the only mandatory parameter. In case the VAT number is malformed, e.g. the format is not as described by the <a class = "link" href = "https://en.wikipedia.org/wiki/VAT_identification_number" target="_blank">respective national institution,</a> the API will return <span class = "accent-blue">validFormat</span>=<span class = "accent-hard">FALSE</span> and no further checks will be made.
                            </p>
                            <p>
                                All non-EU (with the excpetion of the United Kingdom) VAT numbers will be rejected.
                            </p>
                        </li>
                    </ul>

            </div>


            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <a v-bind:href="apiUrl + '/validate/' + 'DE999999999'" ><i class = "zuri-icon terminal "></i><code class = "accent-blink">GET</code><code>{{apiUrl}}/validate/<span class="accent-hard">DE000A0F5UG3</span></code></a>
                    </header>


                    <div>
                        <code class="json">
                            {"validFormat":true,"validVat":false,"companyName":null,"companyAddress":null,"countryCode":"DE"}
                        </code>
                    </div>
                </div>


            </div>
        </div>
    </section>
