
    <section class="container-fluid dark" id="introduction" menu-item="About" top>

        <div class="row">

            <div class="col-md-6">
                
                <h1 class = "accent">VAT Validation API<i class = "zuri-icon information size-l align-middle right"></i></h1>
                <p>
                    {{ apiName }} is a REST API that does one thing, and does it very well. It is blazing fast, higly available. 

                    Our scaleble infrastructure allows us to price our product <span class = "accent-green">5x times cheaper</span>  then our competitors.
                </p>

                <div class = "container-fluid">
                    <div class = "row">
                        <div class = "col-sm-6">
                            <div class = "marg-m">
                                <div class = "row">
                                    <div class = "col-al-2">
                                        <i class = "zuri-icon kubernetes size-l left"></i>
                                    </div>
                                    <div class = "col-al-10">
                                        <h4>Highly Available</h4>
                                        <div class = "label">Build with Kubernetes</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "col-sm-6">
                            <div class = "marg-m">
                                <div class = "row">
                                    <div class = "col-al-2">
                                        <i class = "zuri-icon lighting size-l left"></i>
                                    </div>
                                    <div class = "col-al-10">
                                        <h4>93 ms</h4>
                                        <div class = "label">Median Response Time</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                        <div class = "row">
                        <div class = "col-sm-6">
                            <div class = "marg-m">
                                <div class = "row">
                                    <div class = "col-al-2">
                                        <i class = "zuri-icon kubernetes size-l left"></i>
                                    </div>
                                    <div class = "col-al-10">
                                        <h4>0.0015 €/request</h4>
                                        <div class = "label">Unbeatable Price</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "col-sm-6">
                            <div class = "marg-m">
                                <div class = "row">
                                    <div class = "col-al-2">
                                        <i class = "zuri-icon lighting size-l left"></i>
                                    </div>
                                    <div class = "col-al-10">
                                        <h4>93 ms</h4>
                                        <div class = "label">Median Response Time</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-6">
                <div class="accent-box">

                    <header id="demo-header" class = "light">
                        <a v-bind:href="url">
                            <i class = "zuri-icon terminal"></i><code class = "accent-blink">GET</code><code>validate/</code>
                        </a>
                        <input v-model="vat" v-on:change="getVat()"/>
                    </header>
                    
                    <div id = "demo-error" v-if = "vatError">
                        {{vatError}}
                    </div>

                    <div id="demo-content" v-if = "!vatError">

                        <div>
                            <code class="json">
                                {"totalFee":0.41,"indexName":"DJ Sustainability Eurozone ex Alcohol, Tobacco, Gambling, Armaments & Firearms and Adult Entertainment Index"}
                            </code>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </section>