
    <section class="container-fluid dark" id="introduction" menu-item="About" top>

        <div class="row">

            <div class="col-md-6">
                
                <h1 class = "accent">VAT Validation API</h1>
                <p>
                    {{ apiName }} is a JSON VAT verification API that does one thing, and does it very well - checking European VAT numbers. It is blazingly fast & highly available. </br>

                    Our scalable infrastructure allows us to price our VAT validation API <span class = "accent-green">5x times cheaper</span> compared to our competitors.
                
                </p>
            
                <div class = "container-fluid">
                    <div class = "row">
                        <div class = "col-sm-6">
                            <div class = "marg-m">
                                <div class = "row">
                                    <div class = "col-al-2">
                                        <i class = "zuri-icon levels size-l left"></i>
                                    </div>
                                    <div class = "col-al-10">
                                        <h4>Highly Available</h4>
                                        <div class = "label">Built with Kubernetes</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "col-sm-6">
                            <div class = "marg-m">
                                <div class = "row">
                                    <div class = "col-al-2">
                                        <svg class = "zuri-icon lighting size-l left" xmlns='http://www.w3.org/2000/svg' width="16px" height="12px" class="indicator" 
                                        style = "transform: scale(2); margin-left: 10px; margin-top: 10px;">
                                            <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                                            <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                                        </svg>
                                    </div>
                                    <div class = "col-al-10">
                                        <h4><span id = "count-up">90</span> ms</h4>
                                        <div class = "label">Response Time</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                        <div class = "row">
                        <div class = "col-sm-6">
                            <div class = "marg-m">
                                <div class = "row">
                                    <div class = "col-al-2">
                                        <i class = "zuri-icon card size-l left"></i>
                                    </div>
                                    <div class = "col-al-10">
                                        <h4>0.003 €/ request</h4>
                                        <div class = "label">Unbeatable Price</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-6">
                <div class="accent-box">

                    <header id="demo-header" class = "light">
                        <a v-bind:href="url">
                            <i class = "zuri-icon terminal"></i><code class = "accent-blink">GET</code><code>validate/</code>
                        </a>
                        <input v-model="vat" v-on:change="getVat()"/>
                    </header>
                    
                    <div id = "demo-error" v-if = "vatError">
                        {{vatError}}
                    </div>

                    <div id="demo-content" v-if = "!vatError">

                        <div>
                            <code class="json">
                                {"validFormat":true,"validVat":true,"companyName":"Red Bull GmbH","companyAddress":"Am Brunnen 1\nAT-5330 Fuschl am See","countryCode":"AT"}
                            </code>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </section>